.aboutMe {
    background-color: #D6EEDC !important;
    color: #61A271 !important;
    opacity: 0.9;
}

.aboutHeader {
  text-align: center;
}

.usImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  margin-top: 10px;
}

.card {
  background-color: #FFB7C5;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: none;
}

ul {
    list-style-type: circle;
}